{% extends 'base.html'%}

{% block body %}

<h1>詳細</h1>
<table class="table table-dark table-striped">
<tr  class="table-info">
    <th>年</th>
    <th>月</th>
    <th>職歴</th>
    <th>職種</th>
    <th>退職年月</th>
</tr>
<tr>
    <td>2004年</td>
    <td>3月</td>
    <td>株式会社トーセ入社</td>
    <td>サイト運営、ゲーム企画</td>
    <td>2005年7月</td>
</tr>
<tr>
    <td>2005年</td>
    <td>8月</td>
    <td>株式会社UP.SYSTEM入社</td>
    <td>プログラマ、システムエンジニア</td>
    <td>2014年8月</td>
</tr>

<tr>
    <td>2014年</td>
    <td>10月</td>
    <td>株式会社エクストリーム入社</td>
    <td>プログラマ、システムエンジニア</td>
    <td>在職中</td>
</tr>

{% endblock %}
