{% extends 'base.html'%}

{% block body %}

<table class="table table-primary">
<tr>
    <th class="table-info" >氏名</th>
    <td>古里太朗</td>
</tr>

<tr>
    <th class="table-info" >職種</th>
    <td>システムエンジニア</td>
</tr>

<tr>
    <th class="table-info" >最寄駅</th>
    <td>京急線金沢文庫</td>
</tr>

<tr>
    <th class="table-info" >趣味</th>
    <td>読書、映画、プログラミング</td>
</tr>

<tr>
    <th class="table-info" width="100">自己PR</th>
    <td>もともと面白いコンテンツ、人の役に立つコンテンツに興味があり、<br>
        1社目ではWebサイト製作等に携わっておりましたが、<br>
        コンテンツの基礎となるプログラミングに興味を持ち、<br>
        2社目では基本的なプログラミングスキルを学んできました。<br>
        3社目では経歴を活かし大きなプロジェクトに参画し、また受託開発等も経験しました。<br>
        開発経験を活かしつつ新しい技術等も積極的に学んで開発に貢献させて頂きたいです。</td>
</tr>

</table>
{% endblock %}
