{% extends 'base.html'%}

{%block body %}

<div class="container d-flex align-items-center">

<!-- <div class="container"> -->
    <div class="row align-items-start">
        <h1>ようこそ</h1>
<div class="p-3 mb-2 bg-info text-dark">
    ログイン頂きありがとうございます。当システムはポートフォリオ用として作成致しました。<br>
    開発実績をデータ化する良い機会になりました。<br>
    言語はPython、フレームワークはFlaskを使用致しました。<br>
    cssはBootstrap4を使用しておりますが、プログラマであるため、あまり凝ったデザインは表現できませんでした。すみません。<br>
    Pythonの開発実績はありませんが、趣味で普段愛用しており、Pythonを使用した開発にも<br>
    いつかは携わりたいという思いから今回使用致しました。<br>
    structsからSpringMVCへ、JavaScriptからJqueryへなど様々な開発環境にて業務システムを開発しております。<br>
    エンジニアとして成長していくためには、古きを知りつつ新しきもとりいれていくことが大切であることが<br>
    私が業務経験で学んで感じたことです。<br>
</div>
</div>
<!-- </div> -->

</div>

{% endblock %}
