{% extends 'base.html'%}

{%block body %}
<form class="m-5" action="/update/{{ post.id }}" method="POST">
    <div class="form-group pb-3">
        <label for="title">Title</label>
        <input type="text" class="form-control" value="{{ post.title }}" name="title">
    </div>
    <div class="form-group pb-3">
        <lable for="detail">Detaile</lable>
        <input type="text" class="form-control" value="{{ post.detail }}" name="detail">
    </div>
    <div class="form-group pb-3">
        <label for="due">Due</label>
        <input type="date" name="due" value="{{ post.due.date() }}" required>
    </div>
    <a class="btn btn-outline-primary" href="/" role="button">Return</a>
    <button type="submit" class="btn btn-primary">Change</button>
</form>
{% endblock %}
